[submodule "typstage/0.1.0"]
	path = typstage/0.1.0
	url = https://github.com/Loewe1000/typstage.git
[submodule "typstage-geogebra/0.1.0"]
	path = typstage-geogebra/0.1.0
	url = https://github.com/Loewe1000/typstage-geogebra.git
